[scenario]
#textdomain wesnoth-Saving_Elensefar
name= _ "Saving Elensefar"
id=sea_voyage_plus2
next_scenario=sea_voyage_fake3

map_data="{@campaigns/Saving_Elensefar/maps/Saving_Elensefar}"
music=wesnoth-2.ogg
turns=36


	{DAWN}
	{DAWN}
	{MORNING}
	{MORNING}
	{AFTERNOON}
	{AFTERNOON}
	{DUSK}
	{DUSK}
	{FIRST_WATCH}
	{FIRST_WATCH}
	{SECOND_WATCH}
	{SECOND_WATCH}
	
	[side]
	side=1
	controller=human
	description=Meneldur
	type=Elvish Mariner
	canrecruit=1
	recruit=Peasant
	[/side]

	[side]
	side=2
	controller=ai
	description=Pakch-Glun
	type=Orcish Warlord
	canrecruit=1
	recruit=Orcish Warrior,Troll,Orcish Slayer,Orcish Crossbowman
	team_name=baddies
	{GOLD 300 450 600}
	[/side]
	
	[side]
	side=3
	controller=ai
	description=Mathein
	type=General
	canrecruit=1
	recruit=Swordsman,Pikeman,Longbowman,Dragoon,Red Mage
	team_name=baddies	
	{GOLD 200 300 400}
	[/side]

	[side]
	side=4
	controller=ai
	description=Galiyon
	type=Elvish High Lord
	canrecruit=1
	recruit=Elvish Ranger,Elvish Hero,Elvish Captain,Elvish Rider,Elvish Druid
	team_name=baddies
	{GOLD 200 300 400}
	[/side]

	[event]
	name=prestart
		[objectives]
		side=1
			[objective]
			description= _ "Defeat enemy leaders"
			condition=win
			[/objective]
			[objective]
			description= _ "Death of Meneldur"
			condition=lose
			[/objective]
			[objective]
			description= _ "Death of Madru"
			condition=lose
			[/objective]
			[objective]
			description= _ "Death of Black the Red"
			condition=lose
			[/objective]
			[objective]
			description= _ "Turns run out"
			condition=lose
			[/objective]
		[/objectives]
	[/event]

	{DEATHS_SEA}

	[event]
	name=prestart
		[recall]
		description=Madru
		[/recall]
		[recall]
		description=Black the Red
		[/recall]
		[terrain]
		x,y=1,31
		letter=g
		[/terrain]
		[if]
			[variable]
			name=whichwaytogo
			equals=1
			[/variable]
			[then]
				[teleport]
					[filter]
					description=Meneldur
					[/filter]
				x=7
				y=12
				[/teleport]
				[teleport]
					[filter]
					description=Black the Red
					[/filter]
				x=7
				y=12
				[/teleport]
				[teleport]
					[filter]
					description=Madru
					[/filter]
				x=7
				y=12
				[/teleport]
			[/then]
			[else]
				[if]
					[variable]
					name=whichwaytogo
					equals=2
					[/variable]
					[then]
						[teleport]
							[filter]
							description=Meneldur
							[/filter]
						x=17
						y=31
						[/teleport]
						[teleport]
							[filter]
							description=Black the Red
							[/filter]
						x=17
						y=31
						[/teleport]
						[teleport]
							[filter]
							description=Madru
							[/filter]
						x=17
						y=31
						[/teleport]
					[/then]
					[else]
						[teleport]
							[filter]
							description=Meneldur
							[/filter]
						x=15
						y=22
						[/teleport]
						[teleport]
							[filter]
							description=Black the Red
							[/filter]
						x=15
						y=22
						[/teleport]
						[teleport]
							[filter]
							description=Madru
							[/filter]
						x=15
						y=22
						[/teleport]
					[/else]
				[/if]
			[/else]
		[/if]
	[/event]

	[event]
	name=start
		[if]
			[variable]
			name=whichwaytogo
			equals=1
			[/variable]
			[then]
				[if]
					[variable]
					name=fought_elves_yet
					equals=yes
					[/variable]
					[then]
						[message]
						description=Meneldur
						message= ""
						[/message]
					[/then]
					[else]
						[message]
						description=Meneldur
						message= ""
						[/message]
					[/else]

				[/if]
			[/then]
			[else]
				[if]
					[variable]
					name=whichwaytogo
					equals=2
					[/variable]
					[then]
						[if]
							[variable]
							name=fought_elves_yet
							equals=yes
							[/variable]
							[then]
								[message]
								description=Meneldur
								message= ""
								[/message]
							[/then]
							[else]
								[message]
								description=Meneldur
								message= ""
								[/message]
							[/else]
						[/if]
					[/then]
					[else]
						[if]
							[variable]
							name=fought_elves_yet
							equals=yes
							[/variable]
							[then]
								[message]
								description=Meneldur
								message= ""
								[/message]
							[/then]
							[else]
								[message]
								description=Meneldur
								message= ""
								[/message]
							[/else]
						[/if]
					[/else]
				[/if]
			[/else]
		[/if]
	[/event]

	[event]
	name=die
		[filter]
		description=Pakch-Glun
		[/filter]
		[if]
			[have_unit]
			description=Mathein
			[/have_unit]
			[then]
				[message]
				description=Meneldur
				message= _ "Elensefar may be ours, but there are still enemies to defeat. Onwards!"
				[/message]
			[/then]
			[else]
				[if]
					[have_unit]
					description=Galiyon
					[/have_unit]
					[then]
						[message]
						description=Meneldur
						message= _ "We have taken Elensefar and defeated the Wesnothians, but these Elves need attending to."
						[/message]
					[/then]
					[else]
						[message]
						description=Madru
						message= _ "There are no enemies left - we have succeeded in retaking Elensefar."
						[/message]
					[/else]
				[/if]
			[/else]
		[/if]
	[/event]

	[event]
	name=die
		[filter]
		description=Mathein
		[/filter]
		[if]
			[have_unit]
			description=Pakch-Glun
			[/have_unit]
			[then]
				[message]
				description=Madru
				message= _ "Good work, men. Onwards, we have to retake the city also!"
				[/message]
			[/then]
			[else]
				[if]
					[have_unit]
					description=Galiyon
					[/have_unit]
					[then]
						[message]
						description=Madru
						message= _ "Come on, we should go North and see if we can help defeat the elves."
						[/message]
					[/then]
					[else]
						[message]
						description=Madru
						message= _ "There are no enemies left - we have succeeded in retaking Elensefar."
						[/message]
					[/else]
				[/if]
			[/else]
		[/if]
	[/event]
	
	[event]
	name=die
		[filter]
		description=Galiyon
		[/filter]
		[if]
			[have_unit]
			description=Pakch-Glun
			[/have_unit]
			[then]
				[message]
				description=Black the Red
				message= _ "Orcs still reside in the city! Come one, let us kill them too!"
				[/message]
			[/then]
			[else]
				[if]
					[have_unit]
					description=Mathein
					[/have_unit]
					[then]
						[message]
						description=Black the Red
						message= _ "Come on, we should go South and see if we can help defeat the Wesnothians."
						[/message]
					[/then]
					[else]
						[message]
						description=Madru
						message= _ "There are no enemies left - we have succeeded in retaking Elensefar."
						[/message]
					[/else]
				[/if]
			[/else]
		[/if]
	[/event]

	[event]
	name=victory
		[message]
		description=Meneldur
		message= _ "Yes, Elensefar is ours, finally. Well, Black the Red, we thank you for your help."
		[/message]
		[message]
		description=Black the Red
		message= _ "It was an honor to fight for you. I will be going back across the sea soon, I suppose."
		[/message]
		[message]
		description=Madru
		message= _ "With your Undead?"
		[/message]
		[message]
		description=Black the Red
		message= _ "Yes, with my Undead."
		[/message]
		[message]
		description=Meneldur
		message= _ "Very well. We shall be busy, there is much work to be done rebuilding the city."
		[/message]
	[/event]
[/scenario]
